body {
    margin: 0;
    background-color: #F0FAFF;
    font-family: "Georgia";
    /*text-transform: uppercase;*/
    letter-spacing: 5px;
    font-size: 40px;
}

#picture {
	position: relative;
	top: 0;
	left: 0;

}

#skydive {
	width: 100%;
}

.container {
    position: relative;
    height: 5%;
}

.container img {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.container img:hover {
    opacity: 0.5;
}
.container {
    margin: 12% 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-animation-property: -webkit-width;
    -webkit-animation-property: -webkit-height;
    -webkit-transition-duration: 0.5s
}
.container > div {
    display: flex;
    flex-flow: row;
    align-items: center;
}